.order-info .container {
  background-color: #e5e5e5;
  padding: 0;
}
.order-info .wrapper {
  padding: 10px 20px;
  background-color: #fff;
  margin-bottom: 15px;
}
.order-info__disclaimer {
  padding-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  font-size: 14px;
  color: #a5a5a5;
}
.order-info__button {
  width: 100%;
  background-color: #ff5c00;
  color: #fff;
  text-align: center;
  padding: 15px 0;
  border-radius: 100px;
}
.address__header {
  display: flex;
  align-items: center;
}
.address__header .num {
  margin-right: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 30px;
  min-height: 30px;
  border: 1px solid #ff5c00;
  border-radius: 50%;
  color: #ff5c00;
  font-weight: bold;
}
.address__info {
  margin-left: 35px;
}
